body{
    background-color: rgb(214, 248, 248);
    
}

.game-box{
    margin-left: 400px;
    display: flex;
    flex-wrap: wrap;
    /* width: 120px;
    height: 130px; */
    width: 90px;
    height: 90px;
    background-color: rgb(214, 181, 245);
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: smaller;
    border: 1px solid red;
    height:28px;
    width: 28px;
    
}

.input:hover{
    background-color: rgb(167, 130, 202);

}
